body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color:darkgreen;
    background-color: rgb(215, 251, 255);
}

h2 {
    font-size: 4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

img {
    width: 40%;
}

button {
    color:rgb(163, 6, 89);
    background-color: rgb(241, 200, 206);
}